header{
    height: 200px;
    width: 1200px;
    background-image: linear-gradient(90deg,purple,aquamarine);
}
body{
  background-color:rgb(255,22,255);
}

a:hover{
  font-size:100px;
  letter-spacing: 100px;
}

nav a{
    color:chartreuse;
    font-size; 14px;
}

p{
    border-bottom: 1px solid white;
    margin: 10 px;
    padding: 10px;
}
header{
    background-color:antiquewhite
    margin: 30px 0px 30px 0px;
}

body{
    width: 400ox;
    margin:0 auto 0 auto;
}
